<html>
  <head>
    <title>Learner's Background</title>
    <link rel="stylesheet" href="style/style.css">    
  </head>
  <body>
    <form method="get" action="/process-simple-form"> 
      <p>
        User ID: <input type="text" name="text_field" /> <br/>
        Degree: <input type="text" name="text_field" /> <br/>
        Year: <input type="text" name="text_field" /> <br/>
        Course Length: <input type="text" name="text_field" /> <br/>
      </p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>