<!DOCTYPE html>
<html>
<head>
  <title>EdFlix</title>
  <link rel="stylesheet" href="style/style.css" type="text/css">
</head>
  <%= erb :"common/header" %>
  <main>
  <h1> About Us: </h1>
  <p> Edflix is an innovative educational website designed to provide students with customized learning 
  experiences based on their degree program. Whether you're pursuing a bachelor's degree, master's degree, 
  or other higher education program, EdFlix has something for you.</p>

  <p>With a vast library of courses in various fields of study, Edflix offers students the opportunity to learn at their 
  own pace and on their own schedule. All courses are carefully curated by subject matter experts and designed to provide a 
  comprehensive understanding of the material.</p>
  
  <p>The platform uses cutting-edge technology to provide personalized 
  recommendations on courses and learning paths that suit their preferences.
  Additionally, the platform offers interactive features such as quizzes, assignments, and projects to reinforce learning 
  and ensure students are making progress towards their academic goals.</p>
  <p>Whether you're looking to supplement your current education or explore a new field of study,
   Edflix offers a comprehensive, personalized, and engaging learning experience that caters to 
   your unique needs and preferences.</p>
   </main>
   <%= erb :footer %>
   </html>
