<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
   <link rel="stylesheet" href="style/style.css" type="text/css">
  </head>
  <main>
  <body>
  <%= erb :"common/header" %>
    <div class="contact-container">
      <h1>Contact Us</h1>
      <p>We'd love to hear from you! If you want to reach to us you can send us an email or call us and we'll get back to you as soon as possible.</p>
      <div class="contact-info">
        <h2>Contact Information</h2>
        <ul>
          <li>Phone: +44 0712345678</li>
          <li>Email: EdFlixsupport@gmail.com</li>
        </ul>
        <h2>Mailing Address</h2>
        <p>If you need to send us something by mail, you can use the following address:</p>
        <p>2 Whitham Rd, Sheffield S10 2AH</p>
      </div>
    </div>
  </body>
   </main>
    <%= erb :footer %>
</html>



