<footer class ="footer">
<ul>
  <li><a href="support">Support</a></li>
  <li><a href="legal">Legal and Security</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="/courses">Courses</a></li>
  </ul>
    <p>&copy Team18, 2023</p>
</footer>