<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
  <link rel="stylesheet" href="style/style.css" type="text/css">
</head>
<body>
<%= erb :"common/header" %>
  <div class="contact-container">
  <h1>Sign up</h1>
  <form method="post" action="/signup">
    <label for="username">Username:</label>
<input type="text" name="username" id="username" required style="width: 300px;">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required style="width: 300px;">

    <label for="password">Password:</label>
    <input type="password" name="passwordHash" id="passwordHash" required style="width: 300px;">

    <button type="submit" style="width: 320px;">Sign up</button>
  </form>
  </div>
</body>
 <%= erb :footer %>
</html>

