<html>
  <head>
    <title>Learner's Background</title>
    <link rel="stylesheet" href="style/style.css">    
  </head>
  <body>
      <p>Thank You<strong> <br/>
      To confirm what you have submitted <br/>
      </strong></p>
  </body>
   <%= erb :footer %>
</html>