<!DOCTYPE html>
<html>
<head>
  <title>EdFlix</title>
  <link rel="stylesheet" href="style/style.css" type="text/css">
</head>
  <%= erb :"common/header" %>
  <main>
  <div class= "mod1">
  <h1> Support:</h1>
  <h2> Frequently Asked Questions:</h2>
  <h3> Q: How do I create an account?</h3>
  <p>A: To create an account, click the "Sign Up" button in the top right corner of the homepage 
     and follow the prompts to enter your information.</p>
  <h3>Q: How do I access course content?</h3>
  <p>A: Once you've enrolled in a course, you can access the course content by clicking on the course title on your dashboard.</p>
  <h3>Q: I'm having trouble logging in. What should I do?</h3>
  <p>A: If you're having trouble logging in, try resetting your password or clearing your browser cache. If the issue persists, please contact customer support for assistance.</p>
   <h3>Q: How do I enroll in a course?</h3>
    <p>A: To enroll in a course, navigate to the course catalog, select the course you want to enroll in, and click the "Enroll" button. You'll then be prompted to enter your payment information.</p>
    </div>
   </main>
   <%= erb :footer %>
   </html>
